/* fontface.css */
@font-face {
    font-family: 'Primary';
    src: url('fonts/primary.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Secondary';
    src: url('fonts/secondary.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
